.grid {
  background: #f2f3f4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.grid > * {
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.grid > span {
  padding: 8px 4px;
}

.showMore-button {
  margin-bottom: 20px;
  width: 200px;
}
